/* nav bar flag ------------------------------------------- */
.nav-bar1-account-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 117px;
    height: 40px;
    padding: 2px 9px 10px 9px;
    border: 1px solid rgb(19, 25, 33);
}

.nav-bar1-account-container:hover {
    border: 1px solid #ffffff;
}

.nav-bar1-account-sec a {
    color: white;
    text-decoration: none;
}

.nav-bar1-account-1 {
    font-size: 12px;
    text-decoration: none;
}

.nav-bar1-account-2 {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: bold;
}

.nav-bar1-account-2-arrow {
    width: 8px;
    height: 8px;
    padding: 5px 0px 0px 6px;
}

/* dropdown -------------------------------------------------------- */
.nav-bar1-account-dropdown {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 500px;
    padding: 14px 14px 20px 14px;
    border: 1px;
    margin: -3px 0px 0px -2px;
    position: absolute;
    top: 54px;
    right: 60px;
    z-index: 10;
    color: black;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #bbb;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 13%);
    border-radius: 3px;
    display: none;
}

.nav-bar1-account-container:hover .nav-bar1-account-dropdown,
.nav-bar1-account-dropdown:hover {
    display: block;
}

.nav-bar1-account-dropdown-topu {
    width: 453px;
    height: 23px;
    color: #444444;
    font-size: 13px;
    margin-left: 9px;
    padding-right: 7px;
    margin-bottom: 18px;
    border-bottom: 1px solid #eeeeee;
}

.nav-bar1-account-dropdown-bttm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.nav-bar1-account-dropdown-b1 {
    width: 210px;
    margin-right: 3.5px;
    border-right: 1px solid #eeeeee;
}

.nav-bar1-account-dropdown-b2 {
    width: 210px;
    margin-right: 3.5px;
}

.nav-bar1-account-b1-title {
    font-size: 16px;
    font-weight: bold;
    color: #0f1111;
    padding-bottom: 10px;
}

.nav-bar1-account-b1-word a {
    color: #444444;
    text-decoration: none;
    font-size: 13px;
    padding-bottom: 7px;
}

.nav-bar1-account-b1-word a:hover {
    text-decoration: underline;
    color: rgb(228, 121, 17);
    cursor: pointer;
}

/* user not sign in -------------------------------------- */
.nav-bar1-account-dropdown-top {
    width: 220px;
    height: 63px;
    color: #444444;
    font-size: 13px;
    padding: 0px 120px;
    border-bottom: 1px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eeeeee;
}


.nav-bar1-account-dropdown-top-button {
    width: 200px;
    height: 30px;
    font-size: 13px;
    color: #111111;
    text-align: center;
    background: -webkit-linear-gradient(top, #f8e3ad, #EEBA37);
    outline: 0;
    border: 1px solid;
    border-color: #c89411 #b0820f #99710d;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fcf3dc;
    cursor: pointer;
}


.nav-bar1-account-dropdown-top-word {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 14px;
    margin-top: 7px;
    margin-bottom: 9px;
    font-size: 11px;
    color: #333333;
    justify-content: center;
}

.nav-bar1-account-dropdown-top-word a {
    color: #007185;
    text-decoration: none;
    padding-left: 4px;

}

.nav-bar1-account-dropdown-top-word a:hover {
    text-decoration: underline;
    color: rgb(228, 121, 17);
    cursor: pointer;
}
