.add-review-page-header {
    background-color: #defaff;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    word-wrap: break-word;
}

.add-review-page-header-inner {
    width: 740px;
    height: 34px;
    padding: 10px 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    font-family: 'Amazon Ember', Arial, sans-serif;
    color: #0f1111;
}

#userrimg {
    width: 30px;
    height: 30px;
    margin-right: 9px;
    border-radius: 50% 50%;
}


/* page container ------------------------------------------------ */
.add-review-page-container {
    width: 732px;
    margin: 0px auto 0px auto;
    font-family: 'Amazon Ember', Arial, sans-serif;
    color: #0f1111;
    padding: 20px 18px 0px;
}

.add-review-page-top-sec {
    width: 704px;
    height: 113px;
    padding: 13px 14px 0 14px;
    margin: 0 0 16px 0;
}

.add-review-page-title {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.add-review-page-top-sec2 {
    display: flex;
    flex-direction: row;
}

.add-review-page-top-sec img {
    width: 62px;
    height: 62px;
    object-fit: cover;
}

.add-review-page-top-sec2-title {
    font-size: 14px;
    width: 622px;
    padding: 0 10px;
    /* margin-bottom: 16px; */
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    width: 622px;
    word-wrap: break-word;
}

.add-review-page-line {
    /* margin: 12px 18px 6px 18px; */
    border-top: 1px solid rgb(221, 221, 221);
    margin: 0px 14px;
}

.add-review-page-rating-container {
    display: flex;
    flex-direction: column;
    padding: 0 14px 14px 14px;
    width: 704px;
    height: 68px;

}

.add-review-page-rating {
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 8px;

}

.add-review-page-headline-container {
    display: flex;
    flex-direction: column;
    /* padding: 14px; */
    width: 704px;
    height: 111px;
}

.add-review-page-headline {
    width: 704px;
    height: 26px;
    font-size: 18px;
    font-weight: bold;
    padding: 14px 14px 0px;

}

.add-review-page-headline-input {
    width: 688px;
    height: 23px;
    padding: 3px 7px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 4px;
    margin: 14px;
}

.add-review-page-headline-input:focus {
    outline: none;
    border: 1px solid rgb(231, 118, 0);
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
    background-color: rgb(247, 254, 255);
}

.add-review-page-photo-container {
    display: flex;
    flex-direction: column;
    width: 704px;
}

.add-review-page-photo {
    width: 704px;
    height: 26px;
    font-size: 18px;
    font-weight: bold;
    padding: 14px 14px 0px;
}

.add-review-page-photo-content {
    color: #565959;
    font-size: 14px;
    padding: 0px 24px 0px;
}

.add-review-page-photo-content p {
    padding-top: 4px;
    margin: 0px;
}

.add-review-upload-img-container {
    padding: 8px 24px 14px 24px;
}

.add-review-page-review-container {
    display: flex;
    flex-direction: column;
    /* padding: 14px; */
    width: 704px;
    /* height: 111px; */
}

.add-review-page-review-input {
    width: 688px;
    height: 118px;
    padding: 5px 7px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 4px;
    margin: 14px 14px 24px 14px;
    font-family: 'Amazon Ember', Arial, sans-serif;

}

.add-review-page-review-input:focus {
    outline: none;
    border: 1px solid rgb(231, 118, 0);
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
    background-color: rgb(247, 254, 255);
}

.add-review-page-submit-container {
    display: flex;
    flex-direction: row;
    width: 704px;
    justify-content: flex-end;
    margin-bottom: 40px;
    margin-top: 14px;
}

.add-review-page-submit-container button {
    padding: 0px 10px 0 11px;
    width: 63.5px;
    height: 29px;
    font-size: 13px;
    color: #0f1111;
    background-color: rgb(255, 216, 20);
    border: 1px solid rgb(247, 202, 0);
    border-radius: 8px;
    box-shadow: 0px 0px 1.5px 1.5px rgb(243, 244, 244);
    cursor: pointer;
    text-decoration: none;
    font-family: 'Amazon Ember', Arial, sans-serif;
}

.add-review-page-submit-container button:hover {
    background-color: rgb(247, 202, 0);
}
